@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Inter:wght@500&family=Kalnia:wght@200&family=Nunito:wght@300&family=Oswald&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(3, 3, 46); 
}
.heading{
    height: 50px;
    color: white;
    background-color: rgb(37, 37, 107);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kalnia', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif; 
    text-align: center;

}
.information{
    margin-top: 60px;
    color: white;
}
.info{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kalnia', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;

}
#email{
    height: 25px;
    width: 25px;
    background: white;
    border-radius: 50%;
}
#phone{
    height: 25px;
    width: 25px;
    background: white;
    border-radius: 50%;

}
#location{
    height: 25px;
    width: 25px;
    background: white;
    border-radius: 50%;


}
li{
    font-size: 25px;
    line-height: 45px;
    margin: 25px;
    list-style: none;
}
 .box {
    padding: 1.5rem;
    margin: 1rem 0;
    /* background: #3333; */
    color: #ffff;
    text-transform: none;
    font-size: 1.7rem;
    width: 90%;
    height: 30px;
    border-radius: 12px;
}
.information{
    display: flex;
}
.form{
    height: 500px;
    width: 700px;
    /* border: 2px solid red; */
    position: relative;
    left: 200px;
}
#submit{
    height: 50px;
    width: 110px;
    border-radius: 12px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kalnia', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif; 
    font-size: 30px;
    text-transform: none;
    font-size: 1.7rem;
}
.box message{
    border: none;
}